/* ---------- NAVBAR ---------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(135deg, #28ef21, #2c3e50);
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #310ff1;
}

.btn-login {
  background: white;
  color: #3498db !important;
  padding: 6px 15px;
  border-radius: 20px;
  
}
.btn-login:hover {
  background: #3498db;
  color: white !important;
}
/*------------FOOTER-------------*/
.footer {
  padding: 20px;
  background: linear-gradient(135deg, #28ef21, #2c3e50);
  color: white;
  text-align: center;

  position: relative;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
}
/*------------main------------*/

.main{
    min-height: 200px;
    background-color: #f4f6fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
}

/*-----------HERO-----------*/

.hero {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #0ff135;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

/*------------produits------------*/
.produits {
  padding: 40px;
  text-align: center;
  background-color: #f4f6f8;
}

.produits h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #2c3e50;
}

.produit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  justify-items: center;
}

.produit-card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 180px;
}

.produit-card img {
  width: 100px;
  height: 100px;
  object-fit: cover; 
  margin-bottom: 15px;
  border-radius: 10px;
}

.produit-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #34495e;
}

.produit-card p {
  font-size: 16px;
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 15px;
}

.btn-ajouter {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-ajouter:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.produit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
/*------------accueil------------*/

.accueil {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  text-align: center;
}

.accueil h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

/*------------utilisateur------------*/

.utilisateur {
  padding: 40px;
  text-align: center;
  background-color: #f4f6f8;
  min-height: 60vh;
}

.utilisateur h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list li {
  margin: 10px 0;
  font-size: 18px;
  color: #2c3e50;
  background-color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 12px;
}

.loading {
  font-size: 18px;
  color: #555;
}
